* {
    font-family: Arial, sans-serif;
}

.negrito {
    font-weight: 600;
    color: #BD0000;
}

body {
    margin: 0;
    padding: 0;
}


/* -------------------------------------navbar--------------------------------------- */


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo_nav {
    width: 211px;
    margin: 4px 0 auto 15px;
}

nav {
    margin: 0;
    padding: 2px 12px 0px 4px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    width: 100%;
    height: 65px;
    display: block;
    position: relative;
}

#navbar {
    position: fixed;
    top: 9px;
    right: 20px;
    float: right;
}

#navbar li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 18px;
    font-weight: 600;
}

#navbar li a,
#navbar li a:visited {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

#navbar li.cursos a {
    color: #BD0000;
    text-decoration: underline #BD0000 2px;
}

#navbar li a:hover {
    color: #BD0000;
    text-decoration: underline #BD0000 2px;
}


/* ----------------------------------titulo------------------------------------------- */


.titulo {
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 75px;
}

.titulo h1 {
    font-size: 30px;
    color: #B20000;
    font-weight: 600;
    margin-bottom: 15px;

}
.titulo p {
    margin: 0 auto 30px auto;
    font-size: 20px;
    font-weight: 600;
    width: 561px;
}



/* ----------------------------------cursos tecnicos------------------------------------------- */


.cinza .cards {
    width: 100%;
    height: 627px;
    background-color: #F4F4F4;
    position: relative;
    padding-top: 30px;
}

.cinza .cards h2.titulo_cursos {
    color: #B20000;
    font-size: 30px;
    margin: 0 0 0 98px;
}

.cards ul {
    text-align: center;
}

.cards ul li {
    text-align: left;
    list-style: none;
    display: inline-flex;
    vertical-align: center;
    width: 270px;
    height: 245px;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.cards ul li:hover {
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.4);
}

.cards ul.linha1 li.curso_cont {
    margin: 20px 28px 0 28px;
}

.cards ul.linha1 li.curso_ds {
        margin: 20px 28px 0 0;
}

.cards ul.linha2 li.curso_rh {
        margin: 20px 28px 0 28px;
}

.cards ul li h2{
    color: #B20000;
    font-size: 20px;
    margin: 20px 0 0 80px;
    width: 181px;
}

.cards ul li.curso_adm h2{
    margin: 20px 0 0 85px;
}

.cards ul li img {
    height: 48px;
    position: absolute;
    margin: 8px 0 0 20px;
}

.cards ul li.curso_ds img {
    margin-top: 19px;
}

.cards ul li.curso_sj img, ul li.curso_rh img  {
    margin-top: 15px;
}

.cards ul li p {
    align-self: center;
    font-size: 15px;
    width: 230px;
    padding: 0 20px 0 20px;
    position: absolute;
    text-align: center;
    margin: -20px 0 0 0;
}

.cards ul li .saiba_mais{
    background-color: #F4F4F4;
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
}

.cards ul li .saiba_mais img {
    height: 20px;
    margin: 3px 0 0 14px;
}

.cards ul li .saiba_mais p{
    position: absolute;
    top: 5px;
    width: auto;
    margin: 0 0 0 20px;
}

.cards ul li .saiba_mais button {
    border: none;
    background-image: linear-gradient(to right, #BD0000, #DA0000);
    border-radius: 10px;
    width: 156px;
    height: 35px;
    color: white;
    font-size: 15px;
    position: relative;
    margin: 35px auto 0 57px;
    cursor: pointer;
}

.cards ul li .saiba_mais button p{
    position: absolute;
    width: 100%;
    margin: 3px 0 0 -28px;
}

.cards ul li .saiba_mais button img{
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
    margin: 10px 0 auto 117px;
}


/* ----------------------------------M - Tec------------------------------------------- */


.mtec h2 {
    color: #B20000;
    margin: 40px 0 0 59px;
    font-size: 30px;
}

.mtec p {
    margin: 0 0 0 59px;
    font-size: 20px;
}

.mtec ul p {
    font-size: 15px;
}

.mtec ul li {
    margin-top: 5px;
}

.mtec ul li.log_mtec {
    margin: 0 25px 0 25px;
}

.mtec ul li.ds_mtec {
    margin: 0 25px 0 0;
}

.mtec ul li h2 {
    text-align: center;
    margin: 10px 0 0 50px;
}

.mtec ul li img {
    margin-left: 30px;
}

.cards .mtec ul li .saiba_mais {
    height: 65px;
}

.mtec ul li .saiba_mais button {
    margin-top: 15px;
}


/* ----------------------------------AMS------------------------------------------- */



.ams h2.titulo_ams {
    color: #B20000;
    margin: 60px 0 0 59px;
    font-size: 30px;
}

.ams ul {
    text-align: left;
}

.ams ul li {
    width: 392px;
    height: 245px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.ams ul li.rh_ams {
    margin-left: 40px;
}

.ams ul li h2 {
    position: absolute;
    color: white;
    width: 220px
}

.ams ul li img {
    height: 40px;
    margin-top: 9px;
}

.ams ul li img.barra_ams {
    width: 377px;
    height: 45px;
    position: absolute;
    margin: 7px 0 0 7px;
}

.ams ul li p {
    margin-left: 45px;
    width: 262px;
}

.ams ul li .saiba_mais button {
    margin: 35px auto 0 118px;
}



/* ----------------------------------Footer------------------------------------------- */


footer {
    background-color: #B20000;
    color: white;
    width: 100%;
    height: 252px;
    position: relative;
}

.logo_footer img{
    margin: 45px 0 0 77px;
    width: 255px;
    position: absolute;
}

.links {
    position: absolute;
    margin: 45px 0 0 476px;
    width: 219px;
}

.links h2 {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
}

.links ul {
    list-style: none;
    padding: 0;
    position: relative;
}

.links ul li {
    font-size: 17px;
    margin-bottom: 15px;
    text-align: left;
}

.links ul li a,
.links ul li a:visited {
    color: white;
    text-decoration: none;
}

.links ul.colun_1 {
    position: absolute;
}

.links ul.colun_2 {
    position: absolute;
    margin-left: 120px;
}

.redes_sociais {
    position: absolute;
    margin: 28px 0 0 804px;
}

.redes_sociais img {
    width: 290px;
}

.redes_sociais h2 {
    font-size: 17px;
}


.footer_bottom {
    position: absolute;
    margin-top: 184px;
    width: 100%;
    border-image: radial-gradient(circle, #F43F3F, #B20000) 1;
    text-align: center;
    border-top: solid 1px;
    padding-top: 22px;
}