* {
    font-family: Arial, sans-serif;
}

span {
    color: white;
}

.negrito {
    font-weight: 600;
    color: #BD0000;
}

body {
    margin: 0;
}


/* -------------------------------------nav e baner---------------------------------------- */


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o navbar fique acima de outros elementos, já que ele define a camada do elemento */
    /*
    display: flex; // Adiciona flexbox para facilitar o alinhamento dos itens
    align-items: center; // Alinha os itens verticalmente ao centro
    justify-content: space-between; // Distribui os itens com espaço entre eles
    padding: 0 20px;
    */
}

.logo_nav {
    width: 211px;
    margin: 4px 0 auto 15px;
}

nav {
    margin: 0;
    padding: 2px 12px 0px 4px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    width: 100%;
    height: 65px;
    display: block;
    position: relative;
}

#navbar {
    position: fixed;
    top: 9px;
    right: 20px;
    float: right;
}

#navbar li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 18px;
    font-weight: 600;
}

#navbar li a,
#navbar li a:visited {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

#navbar li.home a {
    color: #BD0000;
    text-decoration: underline #BD0000 2px;
}

#navbar li a:hover {
    color: #BD0000;
    text-decoration: underline #BD0000 2px;
}


figure {
    margin: 65px 0 0 0px;
    position: relative;
    width: 100%;
}

figure.poster img {
    margin: 0px;
    width: 100%;
}

figure.poster figcaption{
    padding: 20px;
    padding-left: 35px;
    width: 370px;
    color: white;
    display: block;
    position: absolute;
    top: 0;
    font-size: 18px;
}

figure.poster figcaption h1{
font-size: 44px;
}

figcaption .botao {
    padding: 22px 18px 22px 18px;
    width: 275px;
    border: none;
    background-color: white;
    color: #BD0000;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    font-weight: 570;
    cursor: pointer;
}


/* -------------------------------------Destaques---------------------------------------- */


.destaques .titulo_destaque {
    margin: 0 0 0 90px;
    font-size: 25px;
    color: #BD0000;
}

.destaques ul {
    list-style: none;
    text-align: center;
}

.destaques .titulo_destaque{
    margin: 35px 0 35px 60px;
}

.destaques ul li h2 {
    color: #BD0000;
    font-size: 17px;
    margin: 35px 0 35px 90px;
}

.destaques ul li{
    text-align: left;
    display: inline-block;
    position: relative;
    padding: 0px 10px 0px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    width: 340px;
    height: 160px;
    transition: all 0.3s ease-in-out;
}

.destaques ul li:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.destaques ul li p{
    font-size: 15px;
    margin: 0 0 0 5px;
    width: 330px;
}

.destaques ul li.eventos {
    margin: 0 40px 0 40px;
}

.destaques ul li img {
    width: 64px;
    height: 58px;
    display: block;
    position: absolute;
    top:15px;
    left: 15px;
}



/* -------------------------------------Nossos cursos---------------------------------------- */


.nossos_cursos {
    padding-top: 15px;
    background-color: #EBEBEB;
    height: 431px;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 20px 0 0 0px;
}

.nossos_cursos #titulo_nossos_cursos {
    color: #BD0000;
    margin-top: 20px;
}

.nossos_cursos ul {
    list-style: none;
}

.nossos_cursos ul li{
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 215px;
    margin: 15px 0 0 0;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.nossos_cursos ul li:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.nossos_cursos ul li.adm {
    margin: 15px 79px 0 79px;
}

.nossos_cursos ul li.log {
    margin: 15px 79px 0 0;
}

.nossos_cursos ul li img {
    margin: 10px 0 5px 0;
    width: 65px;
    height: 60px;
}

.nossos_cursos ul li h2{
    font-size: 17px;
    color: #BD0000;
}


.nossos_cursos ul li p {
    margin: auto 10px auto 10px;
    font-size: 15px;
}


.nossos_cursos .botao_cursos {
    background-image: linear-gradient(to right, #BD0000, #DA0000);
    border: none;
    text-align: center;
    width: 204px;
    height: 47px;
    margin: 10px auto 0 auto;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.nossos_curso a,
.nossos_curso a:visited {
    color: white;
    text-decoration: none;
}


/* ----------------------------------Sobre a Etec Zona Leste------------------------------------------- */


.sobre {
    position: relative;
    background-color: white;
    height: auto;
    padding: 0;
}

.sobre h2 {
    color: #BD0000;
    font-weight: 600;
    font-size: 27px;
    margin: 41px 0 0 593px;
}

.sobre p {
    margin: 19px 0 19px 593px;
    font-size: 17px;
    width: 672px;
}

.sobre img.etec {
    position: absolute;
    margin-left: 103px;
    border-radius: 10px;
    width: 409px;
    margin-top: -14px;
}

.sobre .missao p{
    margin-left: 650px;
    width: 575px;
}


.sobre .missao .icone_missao {
    width: 45px;
    position: absolute;
    margin-left: 593px
}


/* ----------------------------------Contato rapido------------------------------------------ */



.contato_rapido {
    margin-top: 90px;
    position: relative;
    margin-bottom: 30px;
}

.contato_rapido h2 {
    color: #BD0000;
    font-weight: 600;
    font-size: 26px;
    text-align: left;
}

.contato_rapido {
    margin: 80px 132px 60px 100px;
}

.contato_rapido .linha_contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato_rapido .linha_contato {
    display: flex; /* Nescessário para usar align-items */
    align-items: center;
    gap: 20px; /* Adiciona um espaço entre os itens */
    font-size: 17px;
}

.item_contato {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item_contato_endereco {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato_rapido span {
    color: black;
}


.telefone {
    height: 40px;
}

.local {
    height: 40px;
}

.email {
    width: 50px;
}

.aviao {
    position: relative;
    width: 28px;
}

.contato_rapido a,
.contato_rapido a:visited {
    color: white;
    text-decoration: none;
}

.botao_contato {
    width: 204px;
    height: 47px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #BD0000, #DA0000);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* ----------------------------------Footer------------------------------------------- */


footer {
    background-color: #B20000;
    color: white;
    width: 100%;
    height: 252px;
    position: relative;
}

.logo_footer img{
    margin: 45px 0 0 77px;
    width: 255px;
    position: absolute;
}

.links {
    position: absolute;
    margin: 45px 0 0 476px;
    width: 219px;
}

.links h2 {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
}

.links ul {
    list-style: none;
    padding: 0;
    position: relative;
}

.links ul li {
    font-size: 17px;
    margin-bottom: 15px;
    text-align: left;
}

.links ul li a,
.links ul li a:visited {
    color: white;
    text-decoration: none;
}

.links ul.colun_1 {
    position: absolute;
}

.links ul.colun_2 {
    position: absolute;
    margin-left: 120px;
}

.redes_sociais {
    position: absolute;
    margin: 28px 0 0 804px;
}

.redes_sociais img {
    width: 290px;
}

.redes_sociais h2 {
    font-size: 17px;
}


.footer_bottom {
    position: absolute;
    margin-top: 184px;
    width: 100%;
    border-image: radial-gradient(circle, #F43F3F, #B20000) 1;
    text-align: center;
    border-top: solid 1px;
    padding-top: 22px;
}